@{
    ViewData["Title"] = "404";
}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">驚!</span> 找不到。</p>
        <p class="lead">
            您要找的頁面不存在。
        </p>
        <a class="btn btn-primary" asp-controller="Movies" asp-action="Index">首頁</a>
    </div>
</div>