<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>我們已經收到你的訂單!</h2>
        <P>你可以在會員專區<a asp-controller="Orders" asp-action="Index">查詢訂單</a>。</P>
        <hr />
        <p>謝謝你!</p>
    </div>
</div>