<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>!你不被允許進入這個頁面!</h2>
        <P>請點擊下面的按鈕回到首頁</P>
        <hr />
        <a class="btn btn-warning align-content-center" asp-controller="Movies" asp-action="Index">首頁</a>
    </div>
</div>