<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>註冊成功</h2>
        <P>恭喜您成為會員! 現在您可以登入會員，享受網站上的各種服務!。</P>
        <hr />
        <a class="btn btn-success align-content-center" asp-controller="Accounts" asp-action="Login">登入會員</a>
    </div>
</div>